<mat-toolbar color="primary">
  <span>Configurable Form Fields</span>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <button mat-button routerLink="/configure" routerLinkActive="active">Configure</button>
    <button mat-button routerLink="/profile" routerLinkActive="active">Profile</button>
  </mat-drawer>
  <mat-drawer-content>
    <span class="page_title">{{currentRoute | titlecase}}</span>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
