.configure_wrapper {
  display: flex;
  flex-flow: column;
  .example-container {
    max-height: 65%;
    overflow: auto;
  }
  .add_btn {
    margin-bottom: 10px;
    align-self: end;
  }
  table {
    width: 100%;
    th:last-of-type {
      width: 100px;
      text-align: center;
    }
    td:last-of-type {
      text-align: end;
    }
    .delete_btn {
      color: #d32f2f;
    }
  }
  .noData {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    text-align: center;
  }
}



